.textarea-input {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
}

.textarea-input-label {
    font-size: 0.75rem;
    font-weight: 500;
}

.textarea-input-field {
    width: 100%;
    min-height: 6.25rem;
    resize: none;
}

.textarea-input-field::placeholder {
    color: var(--lightgray);
}

.textarea-input-field::-webkit-scrollbar {
    width: 12px;
}

.textarea-input-field::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.textarea-input-field::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: 0.5rem;
}